/* Text colors */

.clr-black {
	color: var(--neutral-7);
}

.clr-white {
	color: var(--neutral-1);
}

.clr-gray {
	color: var(--neutral-4);
}

.clr-red {
	color: var(--red-1);
}

/* Fill colors */

.fill-black {
	fill: var(--neutral-7);
}

.fill-white {
	fill: var(--neutral-1);
}

.fill-gray {
	fill: var(--neutral-4);
}

.fill-red {
	fill: var(--red-1);
}
