.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-1);
	padding: calc(0.2em - 1px) calc(1.5em - 1px) calc(0.3em - 1px);
	border-radius: 5px;
	border: 1px solid var(--neutral-1);
	background: var(--neutral-1);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
	font-size: 14px;
	line-height: 1.2;
	text-decoration: none;
	text-decoration-skip-ink: none;
	text-align: center;
	color: var(--neutral-7);
	transition: all var(--transition-ease-1);
	cursor: pointer;
}

.button:is(:focus, :hover) {
	text-decoration: underline;
}

.button:is(:active) {
	transform: scale(0.9375);
}

.button--black {
	border-color: var(--neutral-7);
	background-color: var(--neutral-7);
	color: var(--neutral-1);
}

.button--green {
	border-color: var(--green-1);
	background-color: var(--green-1);
	color: var(--neutral-1);
}

.button--red {
	border-color: var(--red-1);
	background-color: var(--red-1);
	color: var(--neutral-1);
}

.button--transparent {
	border-color: var(--neutral-4);
	background-color: transparent;
	color: var(--neutral-7);
}
