.table-results {
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
}

.table-results p {
	margin: 0;
}

.table-results__row {
	display: flex;
	background: rgba(255, 255, 255, 80%);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.table-results__cell-num {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	padding: 5px;
	background: var(--neutral-7);
	color: var(--neutral-1);
	font-size: 14px;
	font-weight: 700;
}

.table-results__cell-main {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 230px;
	padding: 5px 10px;
}

.table-results__cell-main > p:nth-child(1) {
	font-weight: 700;
	color: var(--neutral-7);
}

.table-results__cell-main > p:nth-child(2) {
	color: var(--neutral-5);
}

.table-results__cell-time {
	color: var(--neutral-1);
	font-size: 14px;
	font-weight: 700;
	text-decoration-line: underline;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 90px;
	padding: 5px 10px;
	background: #38bc55;
}

.table-results__cell-car {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	min-width: 240px;
	padding: 5px 10px;
}

.table-results__cell-car > svg {
	flex: 0 0 auto;
	width: 18px;
	height: 24px;
	margin-right: 8px;
}

.table-results__cell-car-body {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--neutral-5);
}

.table-results__cell-car-body > p > span {
	font-weight: 700;
}

.table-results__cell-date {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90px;
	padding: 5px 10px;
	border-left: 1px dashed #cecece;
}

.table-results__cell-date > p:nth-child(1) {
	color: var(--neutral-7);
}

.table-results__cell-date > p:nth-child(2) {
	color: var(--neutral-5);
}

.table-results__cell-icons {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 2px 10px;
	border-left: 1px dashed #cecece;
}

.table-results__cell-icons > svg {
	width: 20px;
	height: 20px;
}

.table-results__cell-points {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 8px;
	border-left: 1px dashed #cecece;
}

/* stylelint-disable-next-line no-descending-specificity */
.table-results__cell-points > p {
	padding: 0.5em 1em;
	background: var(--green-1);
	border-radius: 6px;
	text-align: center;
	color: var(--neutral-1);
}

.table-results__cell-button {
	flex: 0 0 auto;
	border: none;
	background: var(--neutral-7);
	color: var(--neutral-1);
	padding: 5px 10px;
	cursor: pointer;
	fill: currentColor;
}

.table-results__cell-button > svg {
	display: none;
}

.table-results__cell-button:is(:focus, :hover) {
	text-decoration: underline;
}

@media screen and (width < 1200px) {
	.table-results__cell-date,
	.table-results__cell-points,
	.table-results__cell-icons {
		display: none;
	}
}

@media screen and (width < 992px) {
	.table-results__cell-main {
		flex: 1 1 auto;
	}

	.table-results__cell-car {
		display: none;
	}
}

@media screen and (width < 576px) {
	.table-results__cell-time {
		display: none;
	}

	.table-results__cell-button > span {
		display: none;
	}

	.table-results__cell-button > svg {
		display: block;
		width: 16px;
		height: 16px;
	}
}
