@use "../assistants/variables" as *;
@use "../assistants/mixins" as *;

/* Base Typography */
body {
  font-size: $fs-native;
  font-weight: $fw-native;
  font-family: $ff-native;
  line-height: $lh-native;
  color: $clr-text-ligth;
}

.text-stroke {
  -webkit-text-stroke: 1px #000000;
  -webkit-text-fill-color: transparent;

  &_clr-red {
    -webkit-text-stroke: 1px $clr-primary;
  }

  &_clr-white {
    -webkit-text-stroke: 1px #ffffff;
  }
}
