.section-video {
	background:
		linear-gradient(155deg, rgba(223, 41, 41, 20%) 40%, rgba(0, 0, 0, 0%) 85%),
		linear-gradient(0deg, rgba(0, 0, 0, 75%) 0%, rgba(0, 0, 0, 75%) 100%),
		url("../../images/bg-section-video.jpg") center / cover no-repeat;
}

.section-video__heading {
	max-width: 700px;
	line-height: 1.2;
}

.section-video__video {
	background: var(--neutral-7);
	aspect-ratio: 1280/720;
	border-radius: 4px;
	overflow: hidden;
}

.section-video__video > iframe,
.section-video__video > video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.section-video__descr {
	color: var(--neutral-1);
}

.section-video__descr > * {
	margin: 0;
}

.section-video__descr > * + * {
	margin-top: 1em;
}

.section-video__sidebar {
	width: 300px;
}

.section-video__media-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: var(--size-2);
}

@media screen and (width < 768px) {
	.section-video__sidebar {
		width: 100%;
	}

	.section-video__media-list {
		gap: var(--size-1);
	}
}
