body {
	font-size: var(--fs-common);
	font-family: var(--ff-common);
	font-weight: 500;
	line-height: var(--lh-common);
	background: var(--neutral-6) url("../../images/bg-body.jpg") center / cover fixed no-repeat;
}
