*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body,
:where(blockquote, figure):where([class]) {
	margin: 0;
}

:where(ul, ol):where([class]) {
	padding-left: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}

:where(ul[class]) {
	list-style: none;
}

input,
textarea,
select,
button {
	font: inherit;
}

img,
svg,
video,
picture {
	display: block;
	max-width: 100%;
}

svg *[fill] {
	fill: currentColor;
}

svg *[stroke] {
	stroke: currentColor;
}

svg * {
	transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
