@use "../assistants/variables" as *;

/* Card: photo */
.card-photo {
  position: relative;
  max-width: 290px;
  outline: 3px solid transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: all 0.25s ease 0s;

  &:focus-within {
    outline: 3px solid $clr-primary;
  }

  &__thumb {
    position: relative;
    padding: 0 0 66.89895% 0;
    overflow: hidden;
  }

  &__thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    object-position: center;
  }

  &__body {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 10px 8px 10px;
    background: #00000080;
  }

  &__descr {
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
  }
}

/* Card: news */
.card-news {
  max-width: 290px;
  outline: 3px solid transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: all 0.25s ease 0s;

  &:focus-within {
    outline: 3px solid $clr-primary;
  }

  &__thumb {
    width: 100%;
    position: relative;
    padding: 0 0 66.89895% 0;
    overflow: hidden;
  }

  &__thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    object-position: center;
  }

  &__body {
    padding: 8px 12px 12px 12px;
    background: #ffffff;

    > * + * {
      margin: 24px 0 0 0;
    }
  }

  &__body-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * + * {
      margin: 0 0 0 12px;
    }
  }

  &__title {
    font-family: $ff-accent;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #000000;
  }

  &__date {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #acacac;
  }

  &__link {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #000000;

    &:hover,
    &:focus-visible {
      color: $clr-primary;
      outline: none;
    }
  }
}
