@use "../assistants/variables" as *;

/* Card: stage */
.card-stage {
  padding: 0 18px 0 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 220px;

  &__day {
    // font-family: $ff-accent;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 3px;
    font-weight: 800;
    color: #fff;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
      #000 0px 0px 2px;
    transition: all 0.25s ease 0s;

    .card-stage_current > & {
      font-weight: 900;
      letter-spacing: 0px;
      color: $clr-primary;
      text-shadow: none;
    }
  }

  &__month {
    margin: 8px 0 16px 0;
    font-size: 22px;
    line-height: 100%;
    font-weight: 900;
    color: #acacac;
    text-transform: lowercase;
    transition: all 0.25s ease 0s;

    .card-stage_current > & {
      color: $clr-primary;
    }
  }

  &__name {
    max-width: 80%;
    margin: auto 0 auto 0;
    font-family: $ff-accent;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;

    .card-stage_current > & {
      color: $clr-primary;
    }
  }

  &__link {
    width: 100%;
    margin: 16px 0 0 0;
    padding: 0.5em 1.25em 0.5em 1.25em;
    border: 1px solid #727272;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.25);
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    color: #212121;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease 0s;

    &:hover {
      color: $clr-text-ligth;
      background: rgba(0, 0, 0, 0.75);
    }

    .card-stage_current > & {
      color: $clr-primary;
      border: 1px solid $clr-primary;

      &:hover {
        color: $clr-text-ligth;
        background: rgba($color: $clr-primary, $alpha: 1);
      }
    }
  }

  &__arrow {
    margin: 12px 0 0 0;
    transition: all 0.25s ease 0s;
    opacity: 0;

    .card-stage_current > & {
      opacity: 1;
    }
  }

  &__arrow-icon {
    width: 20px;
    height: 20px;
  }
}

/* Card: photo */
.card-photo {
  position: relative;
  max-width: 290px;
  outline: 3px solid transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: all 0.25s ease 0s;

  &:focus-within {
    outline: 3px solid $clr-primary;
  }

  &__thumb {
    position: relative;
    padding: 0 0 66.89895% 0;
    overflow: hidden;
  }

  &__thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    object-position: center;
  }

  &__body {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 10px 8px 10px;
    background: #00000080;
  }

  &__descr {
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
  }
}

/* Card: news */
.card-news {
  max-width: 290px;
  outline: 3px solid transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: all 0.25s ease 0s;

  &:focus-within {
    outline: 3px solid $clr-primary;
  }

  &__thumb {
    width: 100%;
    position: relative;
    padding: 0 0 66.89895% 0;
    overflow: hidden;
  }

  &__thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    object-position: center;
  }

  &__body {
    padding: 8px 12px 12px 12px;
    background: #ffffff;

    > * + * {
      margin: 24px 0 0 0;
    }
  }

  &__body-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * + * {
      margin: 0 0 0 12px;
    }
  }

  &__title {
    font-family: $ff-accent;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #000000;
  }

  &__date {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #acacac;
  }

  &__link {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #000000;

    &:hover,
    &:focus-visible {
      color: $clr-primary;
      outline: none;
    }
  }
}

/* Small card: props */
.props-item {
  display: flex;
  align-items: center;

  > * + * {
    margin: 0 0 0 6px;
  }

  &__label,
  &__value {
    font-size: 14px;
    line-height: 1.75;
  }

  &__label {
    font-weight: 600;
    color: $clr-primary;
  }

  &__value {
    font-weight: 500;
    color: $clr-text-ligth;
  }
}

/* Small card: user-rating */
.user-rating {
  display: flex;
  align-items: center;
  flex-direction: column;

  > * + * {
    margin: 6px 0 0 0;
  }

  &__label {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: $clr-text-ligth;
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 12px;
    min-width: 143px;
    height: 36px;
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #feffaf 0%, #a27d2c 100%);
    box-shadow: 0px 2px 5px 0px #000000;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #090806;
  }
}

/* Small card: achievements */
.achievements-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 32px 20px;

  > * + * {
    margin: 20px 0 0 0;
  }

  &__value {
    font-family: $ff-accent;
    font-size: 60px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: $clr-text-ligth;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px hsla(0, 0%, 100%, 0.875);
  }

  &__label {
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    font-style: italic;
    color: #fefefe;
    max-width: 115px;
  }
}
