@use "../assistants/variables" as *;

/* Header section */
.header {
  padding: 20px 0 20px 0;
  background-color: $clr-text-black;
  background-image: linear-gradient(to bottom, #000000b3, #00000000), linear-gradient(to bottom, #0000004d, #0000004d),
    url("../images/bg/bg_header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &__wrapper {
    display: flex;
  }

  &__banner {
    flex: 1 1 auto;
  }

  &__banner-row {
    display: flex;
    align-items: center;
  }

  &__banner-link {
    flex: 0 0 193px;
    text-decoration: none;
    color: inherit;
  }

  &__banner-logo {
    width: 100%;
  }

  &__banner-label {
    position: relative;
    flex: 1 0 auto;
    margin: 0 0 0 50px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    transform: translateY(calc(-50% - 4px));

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: calc(100% + 4px);
      width: 100%;
      height: 500px;
      border-radius: 0px 20px 0px 0px;
      border-top: 3px solid $clr-primary;
      border-right: 3px solid $clr-primary;
      pointer-events: none;
    }
  }

  &__banner-title {
    flex: 0 1 600px;
    margin: 38px 0 40px 0;
    padding: 0 24px 0 16px;
    font-family: "Roboto";
    font-size: 28px;
    line-height: 1;
    font-weight: 900;
    font-style: italic;
  }

  &__login {
    display: flex;
    flex: 0 0 auto;
    margin: 0 0 0 24px;
  }

  &__login-form {
    margin: auto 0 0 0;
  }
}
