@use "../assistants/variables" as *;

.stage-list {
  padding: 40px 0 10px 0;
  background-image: linear-gradient(180deg, #ffffff 15%, #f6f6f600 125%), url("../images/bg/bg_stage-list.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrapper {
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0 0 40px 0;
    color: $clr-text-ligth;
    font-family: $ff-accent;
    font-size: 48px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin: 0 -18px 0 18px;

    > * {
      flex: 1 0 16.5%;
    }

    > * + * {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        background-image: url("../images/decor/stage_border.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
