@use "../assistants/variables" as *;

.user-results {
  padding: 32px 0 50px 0;
  background-image: url("../../images/bg/bg_user-results.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;

  &__wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;

    > * + * {
      margin: 20px 0 0 0;
    }
  }

  &__title {
    font-family: $ff-accent;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    color: #090806;
  }

  &__title-decor {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 100vw;
      height: 3px;
      transform: translate(13px, -50%);
      background: #090806;
    }
  }

  &__button-container {
    align-self: flex-end;
    margin: 24px 0 0 0;
  }

  &__link {
    min-width: 160px;
    text-decoration: none;
  }
}
