@use "../assistants/variables" as *;

.user-cars {
  margin: 0 0 -105px 0;
  padding: 43px 0 130px 0;
  background-color: $clr-primary;
  background-image: url("../images/bg/bg_cars.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0 0 0;
    padding: 0 0 0 50px;

    > * + * {
      margin: 0 0 0 30px;
    }
  }

  &__list-item {
    flex: 1 1 calc((100% / 4) - (30px / 4));
  }
}
